DJANGO_DEBUG=true
DJANGO_SECRET_KEY=WzEfprm4pR5PHEvmUMqk
MYSQL_ROOT_PASSWORD=vpkSWtXzYEPK99xWtSiT
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DJANGO_DB_NAME=db_web
REDIS_CACHE_HOST=localhost
REDIS_CACHE_PORT=6380
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_EMAIL=