DJANGO_DEBUG=
DJANGO_SECRET_KEY=
MYSQL_ROOT_PASSWORD=
MYSQL_HOST=localhost
MYSQL_PORT=
MYSQL_DJANGO_DB_NAME=
REDIS_CACHE_HOST=
REDIS_CACHE_PORT=
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_EMAIL=
FLASK_DEBUG=