DJANGO_SECRET_KEY=
POSTGRES_PASSWORD=
POSTGRES_HOST=postgres-db
POSTGRES_PORT=5432
POSTGRES_DB=db_web
REDIS_CACHE_HOST=redis-cache
REDIS_CACHE_PORT=6379
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_PASSWORD=
DJANGO_SUPERUSER_EMAIL=